DATABASE_URL=
GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET="recovera_super_secret_key_12345"
NEXTAUTH_URL="http://localhost:3000"

ENCRYPTION_KEY= 
INGEST_API_URL=
## ngrok in the system to get the ingest api url


GEMINI_API_KEY=
GEMINI_MODEL="gemini-2.5-flash"
GROQ_API_KEY=
GROQ_MODEL=
# AGENT_MOCK="false"
## For now setting it to true so that the agent won't use the api keys and run in a debug mode
AGENT_MOCK="true
