DATABASE_URL="postgresql://postgres:Priyanshu@19170080@localhost:5432/recovera?schema=public"
GITHUB_ID= 
GITHUB_SECRET= 
NEXTAUTH_SECRET="recovera_super_secret_key_12345"
NEXTAUTH_URL="http://localhost:3000"

ENCRYPTION_KEY= 
INGEST_API_URL="https://expedited-target-proactive.ngrok-free.dev/api/ingest/logs"
## ngrok in the system to get the ingest api url
